<div class="main-container">
	<div class="title">LISTA DE PRODUCTOS</div>
	<div class="list-container">
		<ul class="product-list">
			{{#each products}}
				<li id={{this.id}}>
					<b>Id:</b>
					{{this.id}}
					-
					<b>Título:</b>
					{{this.title}}
					-
					<b>Categoría:</b>
					{{this.category}}
					-
					<b>Código:</b>
					{{this.code}}</li>
			{{/each}}
		</ul>
	</div>
</div>

{{! NO ENTIENDO LA SIGUIENTE: A QUÉ CARPETA/ARCHIVO HACE REFERENCIA? }}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>