<div class="main-container" id="custom-target">
	<div class="flex-header">
		<div class="title">LISTA DE PRODUCTOS</div>
		<div class="add-btn">Agregar</div>
	</div>
	<div class="list-container">
		<ul class="product-list">
			{{#each products}}
				<li id={{this.id}}>
					<div class="list-item-group">
						<div class="list-item">
							<b>Id:</b>
							{{this.id}}
							-
							<b>Título:</b>
							{{this.title}}
							-
							<b>Categoría:</b>
							{{this.category}}
							-
							<b>Código:</b>
							{{this.code}}
						</div>
						<div class="delete-btn">Borrar</div>
					</div>
					{{#each this.thumbnails}}
						<img class="thumbnail" src="{{this}}" />
					{{/each}}
				</li>
			{{else}}
				<div class="no-products">No products loaded!</div>
			{{/each}}
		</ul>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>